aioice
aiortc
altair
annotator
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
av
Babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colabcode
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
dnspython
elasticsearch
executing
fastjsonschema
filelock
fonttools
fsspec
gitdb
GitPython
google-crc32c
h11
idna
ifaddr
imageio
imageio-ffmpeg
importlib-metadata
ipykernel
ipython
ipython-genutils
iso8601
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
moviepy
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
opencv-python
opencv-python-headless
packaging
pandas
pandocfilters
parso
pickleshare
pillow
platformdirs
proglog
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
py-cpuinfo
pyarrow
pycparser
pydeck
pyee
Pygments
PyJWT
pylibsrtp
pyngrok
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
python-magic
pytz
pywinpty
PyYAML
pyzmq
referencing
requests
requests-toolbelt
rich
roboflow
rpds-py
scipy
seaborn
Send2Trash
six
smmap
sniffio
soupsieve
stack-data
streamlit
streamlit-option-menu
streamlit-webrtc
supervision
sympy
tenacity
terminado
thop
tinycss2
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
ultralytics
urllib3
uvicorn
validators
watchdog
wcwidth
webencodings
websocket-client
zipp
